.footercha{
    margin-top: 100px;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    &__text{
        width: 500px;
        margin: auto 0;
        &__h2{
            font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 44px;
/* or 110% */

letter-spacing: 1.42857px;
text-transform: uppercase;

color: #000000;
        }
        &__p{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            /* or 167% */
            
            
            color: #000000;
            
            mix-blend-mode: normal;
            opacity: 0.5;  
        }
    }
}

@media screen and (max-width:1000px){
    .footercha{text-align: center;
        margin: 0 auto;
        justify-content: space-around;
        
        display: block;

        &__text{
            width: 500px;
            margin: 0 auto;
            &__h2{
                font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    /* or 110% */
    
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    
    color: #000000;
            }
            &__p{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                /* or 167% */
                
                
                color: #000000;
                
                mix-blend-mode: normal;
                opacity: 0.5;  
            }
        }
    }
}