* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}

.header {
    width: 95%;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color:RGB(21, 21, 21);
    padding: 0 20px;
    color: #FFF;
    
}
.header__oo:hover{
    border: 2px solid #FFF;
    padding: 2px;
}
.logo:hover{
    padding: 2px;
  border: 2px solid #FFF;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
    transition: 0.4s;
}

.show-menu-button,
.hide-menu-button {
    transition: 0.4s;
    font-size: 30px;
    display: none;
    cursor: pointer;
    line-height: 100px;
}

.show-menu-button {
    float: right;
}

.menu a:hover {
     color: rgb(249, 253, 5);
}

#chk {
    display: none;
}
.show-menu-button:hover{
    color: rgb(249, 253, 5);
}
.hide-menu-button:hover{
color: black;}
.hechi{
    width: 95%;
    margin: 0 auto;
    height: 5px;
    background-color: white;
 }

@media screen and (max-width:1000px) {
    
    .show-menu-button,
    .hide-menu-button {
        
        display: block;
        color: rgb(255, 255, 255);
    }
    
    .header{
        justify-content: space-around;
    }
   
   
    .menu {
        
        background-color: aqua;
        position: fixed;
        
        width: 25%;
        top: 100px;
        margin-left: 25px;
        color: black;
               left:0;
        text-align: center;
        right: -100%;
        
    }

    .menu a {
        display: block;
        
    }
    .menu a:hover{
      color: black;
    }

    .hide-menu-button {
        position: absolute;
        right: 35px;
        top: 1px;
    }

    #chk:checked ~ .menu{
    display: none;
    }
    .show-menu-button{
    
        left: 100px;
        position: absolute;
    }

}