
.main__continue{
    width: 90%;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0 auto;
    background-image: url(/img/Bitmap\ \(6\).png);
    .dog{img{
        width: 900px;
        
        background-image: url(/img/Bitmap\ \(6\).png);
        
        
    }
        
            
        
    }
    .dog {
        background-image: url(/img/Bitmap\ \(1\).svg) ;
        width: 1110px;
        
        height: 320px;
        margin-top: 48px;
    }
    .dog1{
        margin-left: 95px;
        padding-top: 101px;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        
       
    }
    .btn {
        width: 160px;
        height: 48px;
        margin-left: 96px;
        margin-top: 32px;
        background-color: #000000;
        border: none;
        color: #fff;
        height: 48px;
        
     
    }
    .btn1{
        width: 160px;
        height: 48px;
        margin-left: 96px;
        margin-top: 32px;
        background-color: #000000;
        border: none;
        color: #fff;
        height: 48px;
         
    }

   

   
    
    
}